In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv('./test/malware/opcode.csv')

In [9]:
df.head()

,opcode_name,bit_1,bit_2,bit_3,bit_4,bit_5,bit_6,bit_7,bit_8,bit_9,...,bit_40,bit_41,bit_42,bit_43,bit_44,bit_45,bit_46,bit_47,bit_48,label
0,../datas/newdownload/combined/201707/malicious...,1,1,0,0,1,1,0,1,0,...,1,0,1,0,1,0,0,0,0,1.0
1,../datas/newdownload/combined/201707/malicious...,0,0,0,0,1,0,1,0,1,...,1,0,1,0,1,0,1,0,0,1.0
2,../datas/newdownload/combined/201707/malicious...,1,0,0,1,1,0,1,1,0,...,0,0,1,1,0,1,1,1,0,1.0
3,../datas/newdownload/combined/201707/malicious...,1,0,1,0,0,0,1,1,1,...,0,1,1,1,1,0,0,0,0,1.0
4,../datas/newdownload/combined/201707/malicious...,1,1,0,0,1,1,0,1,0,...,1,0,1,0,1,0,0,0,0,1.0

In [10]:
df.columns

Index([u'opcode_name', u'bit_1', u'bit_2', u'bit_3', u'bit_4', u'bit_5',
       u'bit_6', u'bit_7', u'bit_8', u'bit_9', u'bit_10', u'bit_11', u'bit_12',
       u'bit_13', u'bit_14', u'bit_15', u'bit_16', u'bit_17', u'bit_18',
       u'bit_19', u'bit_20', u'bit_21', u'bit_22', u'bit_23', u'bit_24',
       u'bit_25', u'bit_26', u'bit_27', u'bit_28', u'bit_29', u'bit_30',
       u'bit_31', u'bit_32', u'bit_33', u'bit_34', u'bit_35', u'bit_36',
       u'bit_37', u'bit_38', u'bit_39', u'bit_40', u'bit_41', u'bit_42',
       u'bit_43', u'bit_44', u'bit_45', u'bit_46', u'bit_47', u'bit_48',
       u'label'],
      dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=813, step=1)

In [14]:
new_col = df.columns[df.columns!='opcode_name']

In [15]:
x=[]
x.append(df[new_col].as_matrix())

In [17]:
x[0].shape

(813L, 49L)